name: OPA Scan

on:
  issues:
   type:
      - closed
      - opened

jobs:
  security_scan:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install OPA
      run: |
        # Install OPA
        curl -L -o opa https://openpolicyagent.org/downloads/latest/opa_linux_amd64
        chmod +x opa
        sudo mv opa /usr/local/bin/

        # Verify OPA installation
        opa version

    - name: Run OPA Scan
      run: |
        # Run OPA against files using the policy in the current directory
        opa eval --format pretty \
          --data OPA_Policy.rego \
          --input-files '**/*.tf'

      working-directory: ${{ github.workspace }}
