name: Terraform Code Scan

on:
  issues:
    type:
     -opened
     -closed

jobs:
  terraform_scan:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install tfsec
      run: |
        curl -L -o tfsec https://github.com/tfsec/tfsec/releases/latest/download/tfsec-linux-amd64
        chmod +x tfsec
        sudo mv tfsec /usr/local/bin/

    - name: Run tfsec scan
      run: tfsec .
